.academic-calendar-container {
  .academic-calendar-columns {
    @include media-breakpoint-up(sm) {
      column-count: 2;
      column-width: $grid-gutter-width-base;
    }
  }

  .academic-calendar-item {
    padding: .5rem 0;

    @include media-breakpoint-up(sm) {
      display: inline-block;
      width: 100%;
    }
  }

  .time {
    display: block;
  }
}

.academic-calendar-title-icon {
  @include ucfwp-icon($icon-acad-calendar);

  &::before {
    display: inline-block;
  }
}
