//
// Classic layout
//
.ucf-news.classic {
  .ucf-news-item {
    @extend .media;
    margin-bottom: $grid-gutter-width-base;
  }

  .ucf-news-thumbnail {
    display: flex;
    margin-right: $spacer-x;

    .ucf-news-thumbnail-image {
      align-self: center; // fix img stretching in Chrome
      border-radius: 0;
      flex-shrink: 0; // fix img stretching in IE11
    }
  }

  .ucf-news-item-title {
    @extend .media-body;
    line-height: 1.4;

    a {
      color: inherit;
    }
  }
}

//
// Modern layout
//
.ucf-news.modern {
  .ucf-news-item {
    margin-left: -$grid-gutter-width-base / 2;
    margin-right: -$grid-gutter-width-base / 2;

    @include hover-focus-active {
      background-color: rgba($gray-light, .25);
      transition: $link-transition;
    }

    a {
      @extend .media;
      color: inherit;
    }
  }

  .ucf-news-thumbnail {
    display: flex;
    margin-right: $spacer-x;
  }

  .ucf-news-thumbnail-image {
    align-self: center; // fix img stretching in Chrome
    flex-shrink: 0; // fix img stretching in IE11
  }

  .ucf-news-item-content {
    @extend .media-body;
  }

  .ucf-news-section-title {
    @extend .badge;
    @extend .badge-primary;
    margin-bottom: .75rem;
    text-align: left;
    white-space: normal;
  }

  .ucf-news-item-title {
    @extend .h5;
    color: inherit;
  }

  .ucf-news-item-excerpt {
    color: inherit;
    font-size: $font-size-xs;

    @include media-breakpoint-up(md) {
      font-size: $font-size-sm;
    }
  }
}


//
// Card layout
//
.ucf-news.card-layout {
  .ucf-news-card {
    background-color: transparent;
    border-color: rgba($brand-default, .25);

    @include hover-focus-active {
      .ucf-news-card-title {
        text-decoration: underline;
      }
    }
  }

  .ucf-news-card-link {
    color: inherit;
    text-decoration: none;
  }
}
