@import 'utils';

@import 'layout';
@import 'typography';
@import 'header';
@import 'footer';

// Components
@import 'components/widgets';
@import 'components/pagination';

@import 'components/news';
@import 'components/events';
@import 'components/ucf-alert';
@import 'components/spotlights';
@import 'components/social';
@import 'components/academic-calendar';
@import 'components/charts';
@import 'components/typeahead';
@import 'components/degree-search';
@import 'components/post-list';

@import 'components/fact-icons';

// Pages
@import 'pages/404';
