.site-footer {
  a:not(.btn) {
    color: $brand-inverse;
  }

  //sass-lint:disable class-name-format
  .widget_rss .rss-date,
  .widget_rss cite,
  .widget_recent_entries .post-date {
    color: transparentize($brand-inverse, .2);
  }
  //sass-lint:enable class-name-format
}
