//
// Person lists
//
.colleges-post-list-people {
  .person-link {
    color: $black;
  }

  .person-photo {
    height: 0;
    padding-bottom: 100%;
    width: 100%;

    @include media-breakpoint-up(lg) {
      height: 0;
      width: 100%;
    }
  }

  .person-name {
    font-size: .85rem;
  }

  .person-job-title {
    font-size: $font-size-xs;
    line-height: 1.1;
  }

  .ucf-post-search .person-photo {
    height: 4rem;
    padding-bottom: 0;
    width: 4rem;
  }
}
