p:empty {
  display: none;
}

.nav-link {
  line-height: 1.25;
}

.list-chevrons {
  margin-bottom: 2em;
  padding: 0;

  @include media-breakpoint-up(lg) {
    padding-left: .6em;
  }

  li {
    list-style: none;

    @include media-breakpoint-up(lg) {
      display: inline-block;
    }

    &::before {
      // sass-lint:disable no-vendor-prefixes
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      // sass-lint:enable no-vendor-prefixes
      color: $ucf-gold;
      content: 'ÔÅî';
      display: inline-block;
      font: normal normal normal .8em/1 FontAwesome;
      line-height: 1;
      text-rendering: auto;
      width: 1.25em;
    }
  }

  a {
    text-decoration: none;
  }
}
